/* Estilo do index */
body {
    background-image: url('IMG/addams-bg.jpg');
}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5%;
}

.centralizar {
    text-align: center;
}

#pontos {
    color: red;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
    left: 15%;
}

#contagem-pontos {
    color:red;
    font-weight: bold;
    font-size: 40px; 
    text-align: center;
    position: absolute;
    left: 15%;
    margin-top: 8%;
}

#secao-pontos {
    float: right;
    margin-right: 40%;
}

#menos-pontos {
    color: red;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 12%;
}

#mais-pontos {
    color: #006400;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
    top: 12%;
}

/* Estilo do ganhou e perdeu */
.mensagem {
    color: red;
    font-size: 30px;
    text-align: center;
    margin-top: 15%;
    font-weight: bold;
}

#reiniciar {
    display: block;
    margin-top: 0;
    text-decoration: none;
}